# Help with config: https://zzo-docs.vercel.app/zzo/configuration/configfiles/
baseURL: "https://gerkin.dev"
title: "GerkinDev Devblog"
theme: "zzo"
languageCode: "en-us"
defaultContentLanguage: en
defaultContentLanguageInSubdir: true
hasCJKLanguage: true
summaryLength: 70
buildFuture: false
copyright: '©{year}, All Rights Reserved'
timeout: 10000
enableEmoji: true
paginate: 13
rssLimit: 100
enableGitInfo: true
googleAnalytics: ''
markup:
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: true
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      attribute: true
      autoHeadingID: true
      autoHeadingIDType: github
    renderer:
      hardWraps: true
      unsafe: true
      xHTML: true
  highlight:
    codeFences: true
    lineNos: true
    lineNumbersInTable: true
    noClasses: false
    guessSyntax: true
  tableOfContents:
    endLevel: 3
    ordered: false
    startLevel: 1
outputs:
  home:
    - HTML
    - RSS
    - SearchIndex
  section:
    - HTML
    - RSS
    - SearchIndex
  taxonomyTerm:
    - HTML
    - RSS
    - SearchIndex
  taxonomy:
    - HTML
    - RSS
    - SearchIndex
outputFormats:
  SearchIndex:
    mediaType: application/json
    baseName: index
    isPlainText: true
    notAlternative: true
taxonomies:
  category: categories
  tag: tags
  series: series



sectionPagesMenu: main
enableRobotsTXT: true
sitemap:
  changefreq: monthly
  priority: 0.5
  filename: sitemap.xml



params:
  logoText: GerkinDev DevBlog
  logoType: short
  logo: false
  description: GerkinDev DevBlog, with some dev & sysadmin tips, tricks and guides
  custom_css:
    - "styles/overrides.scss"
  custom_js: []
  useFaviconGenerator: true
  languagedir: ltr
  themeOptions:
    - dark
    - light
    - hacker
    - solarized
    - kimbie
  notAllowedTypesInHome:
    - contact
    # - talks
    - about
    - showcase
  notAllowedTypesInHomeSidebar:
    - about
    - archive
    - showcase
  notAllowedTypesInArchive:
    - about
    - talks
    - showcase
  notAllowedTypesInHomeFeed:
    - about
    - archive
    - contact
    - talks
    - showcase
    - publication
    - presentation
    - resume
    - gallery
  enablePinnedPosts: true
  viewportSize: normal
  enableUiAnimation: true
  hideSingleContentsWhenJSDisabled: false
  minItemsToShowInTagCloud: 1
  enableAppbarSearchIcon: false
  enableAppbarLangIcon: false
  homeHeaderType: text
  hideHomeHeaderWhenMobile: false
  showMobileMenuTerms:
    - tags
    - categories
    - series
  enableThemeChange: true
  enableBreadcrumb: true
  enableSearch: false
  enableSearchHighlight: false
  enableGoToTop: true
  enableWhoami: true
  summaryShape: classic
  archiveGroupByDate: '2006'
  archivePaginate: 13
  paginateWindow: 1
  talksPaginate: 8
  talksGroupByDate: '2006'
  myname: GerkinDev
  # email: zzossig@gmail.com
  whoami: Fullstack developer, on its journey to DevOps.
  # bioImageUrl: 'https://lh3.googleusercontent.com/1cHCaMp2PxGFvJVPYwShMv9baTH253j0caCpEsVf-Nsm7UueLGxKweGTbI1W6fjGiDqD6bwP0nRjWCa2uymmKtjwJrRsK6gUUOZ7FhwBRETacil83NXLTrbVKwwFqgExY199BUqMoC1E74Besl_eoL7vFpVKK16IljCRZmqi54lQRfEJ65pfYvtl88rEVrPYhrBMceqzgA_kyBTQlAnqfQFbWK0D4GzTjlQIUWY9gbGgEcoavKUIDpxayZwckSDl2WzNlIMZqlBfD_qtny2rP3unYAU1X3LCobs1NdFOoBgEYtrOjsc4ENHVadvFgaPvG826WIqAmRdnFMSdDEEA7VTVv1rEJBmO0VioukyB-cweFFoxsv_XSEjUkIvxYDN5K0azgQCS20T1KUtYiN_J8jmsCauVfpCEwDSj0hRW5uUOtHE2Ui6ZwsmQUxH5eDjohyC49nVp3FxtUa5k1d5SPt-9bnhrUY1VHHB6A8giO40gBNWt_zuRA4NUMnrVRueGUdviWFU6EIJcw0hXhmno1J2-symGkEyVEbCewLDe_W2XAhDF_v3fskzPo1yWXZuODdCXT2Nfzbc_rFQdSFjEXuqn7Z53RN5kXqXvD0JuOqT0M9AVQUOvhetnyq31eVYVYR-ZBkYETFmkBaOKp1fTivn2i-Gw8SN6soxS-U3uowu1U6XdpvBP8LGiTP8mwA=w899-h967-no?authuser=0'
  useGravatar: false
  location: 'In the cambrousse, France'
  # organization: Scitizen
  link: 'https://github.com/GerkinDev/devblog'
  enableBio: true
  enableBioImage: true
  enableSidebar: true
  enableSidebarMenu: false
  enableSidebarTags: true
  enableSidebarSeries: true
  enableSidebarCategories: true
  enableHomeSidebarTitles: true
  enableListSidebarTitles: true
  enableToc: true
  hideToc: false
  tocPosition: outer
  tocFolding: false
  enableTocSwitch: true
  itemsPerCategory: 5
  sidebarPosition: right
  tocLevels:
    - h2
    - h3
    - h4
    - h5
  enableSidebarPostsByOrder: false
  showPoweredBy: true
  showFeedLinks: true
  showSocialLinks: true
  enableLangChange: true
  # googleTagManager: ''
  # baiduAnalytics: ''
  enableBusuanzi: false
  # busuanziSiteUV: true
  # busuanziSitePV: true
  # busuanziPagePV: true
  enableComment: true
  # disqus_shortname: ''
  # commento: false
  utterances:
    owner: 'GerkinDev'
    repo: 'devblog'
    # link: ''
  # gitalk:
  #   owner: ''
  #   repo: ''
  #   clientId: ''
  #   clientSecret: ''
  # valine:
  #   enable: false
  #   appId: 你的appId
  #   appKey: 你的appKey
  #   notify: false
  #   verify: false
  #   avatar: mm
  #   placeholder: 说点什么吧...
  #   visitor: false
  # changyan:
  #   changyanAppid: ''
  #   changyanAppkey: ''
  # livere:
  #   livereUID: ''
  # isso:
  #   enable: false
  #   scriptSrc: ''
  #   dataAttrs: ''
  socialOptions:
    # email: 'mailto:your@email.com'
    # phone: ''
    # facebook: 'https://www.facebook.com/alexandre.trujilogermain/'
    twitter: 'https://twitter.com/gerkindev'
    github: 'https://github.com/GerkinDev'
    stack-overflow: 'https://stackoverflow.com/users/4839162/alexandre-germain'
    # instagram: ''
    # google-plus: ''
    # youtube: ''
    # medium: ''
    # tumblr: ''
    linkedin: 'https://www.linkedin.com/in/alexandrejpgermain/'
    # pinterest: ''
    stack-exchange: 'https://meta.stackexchange.com/users/1130036/alexandre-germain'
    # telegram: ''
    # steam: ''
    # weibo: ''
    # douban: ''
    # csdn: ''
    gitlab: 'https://gitlab.com/GerkinDev'
    # mastodon: ''
    # jianshu: ''
    # zhihu: ''
    # signal: ''
    # whatsapp: ''
    # matrix: ''
    # xmpp: ''
    # dev-to: ''
    # gitea: ''
    # google-scholar: ''
    # twitch: ''
  # donationOptions:
  #   enable: false
  #   alipay: ''
  #   wechat: ''
  #   paypal: ''
  #   patreon: ''
  #   bitcoin: ''
  # copyrightOptions:
  #   enableCopyrightLink: false
  #   copyrightLink: ''
  #   copyrightLinkImage: ''
  #   copyrightLinkText: ''
  share:
    - name: facebook
    - name: twitter
      username: 'GerkinDev'
    - name: linkedin
  footerLinks:
    # - name: ''
    #   link: ''
    # - name: ''
    #   link: ''



# Fix for incorrect sub-links. See https://github.com/gohugoio/hugo/issues/711
canonifyUrls: true
