{{ define "main" }}
    <main class="single__main {{ if or ($.Param "enableToc") ($.Param "toc") }}{{ if $.Param "hideToc" }}main{{ else if eq ($.Param "tocPosition") "outer" }}main{{ else }}main-main{{ end }}{{ else }}main{{ end }}">
    {{ if $.Param "enableBreadcrumb" }}
        {{ partial "body/breadcrumb" . }}
    {{ end }}
    {{ if $.Param "hideSingleContentsWhenJSDisabled" }}
    <noscript>
        <div class="single__nojs">
        {{ i18n "nojs-message" }}
        </div>
    </noscript>
    {{ end }}
    <div class="single {{ if $.Param "hideSingleContentsWhenJSDisabled" }}hide{{ end }}">
        <div class="single__nojs">{{ i18n "nojs-message" }}</div>
        <script>document.querySelector('.single').classList.remove('hide'); document.querySelector('.single__nojs').classList.add('hide');</script>
        <h2 class="single__title" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">{{ .Title }}</h2>
        <h3 class="single__subtitle">{{ .Params.subtitle }}</h3>
        <div class="single__meta">
        {{ partial "body/infos" . }}
        {{ partial "body/tags" . }}
        </div>
        <div class="list__header--desc single__contents p2">
            {{ partial "body/toc" . }}
            {{ .Content }}
        </div>
        <div class="summary__container" data-display="block">
            {{ $paginator := .Paginate (where .Pages "Type" "walkthroughs").ByWeight }}
            {{ range $paginator.Pages }}
                {{ .Render "summary" }}
            {{ end }}
            {{ partial "pagination/pagination" . }}
        </div>
        
        {{ partial "script/clipboard-script" . }}
        {{ partial "script/codeblock-script" . }}
        {{ partial "body/share" . }}
        {{ partial "body/donation" . }}
        {{ partial "body/whoami" . }}
        {{ partial "body/related" . }}
        {{ partial "pagination/pagination-single" . }}
        {{ partial "comments/comments.html" . }}
        {{ partial "body/photoswipe" . }}

        <div class="hide">
            {{ partial "search/site-search" . }}
        </div>
        {{ partial "search/search-result-desktop" . }}
    </div>
    </main>

    {{ if and (or ($.Param "enableToc") ($.Param "toc")) (ne ($.Param "tocPosition") "outer") }}
        <aside class="single__side {{ if or ($.Param "enableToc") ($.Param "toc") }}main-side{{ end }}">
            {{ partial "sidebar/sidebar-single" . }}
        </aside>
    {{ end }}
    {{ partial "script/sidebar-script" . }}
    {{ partial "script/list-script" . }}
    {{ partial "script/single-script" . }}
{{ end }}

{{ define "body/main-left" }}
    {{ partial "walkthroughs/main-left" . }}
{{ end }}

{{ define "body/main-right" }}
    {{ partial "walkthroughs/main-right" . }}
{{ end }}

{{ define "foot" }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/findAndReplaceDOMText/0.4.6/findAndReplaceDOMText.min.js" integrity="sha512-KJxyO81TRgb6HTSjpLHhJgOJMCuBkQtmH/ODpfAcqSOpNX3nnU5Hefbb5MZ3SwaSlFwCn+mwdg1466XEVv4Rew==" crossorigin="anonymous"></script>
    <script src="{{ (resources.Get "scripts/vars.ts" | js.Build | resources.Minify | resources.Fingerprint).Permalink }}"></script>
{{ end }}