@import './pre-header.scss';
@import './walkthrough.scss';

// #region Fixes
.list__main {
	max-width: 100%;
}

li{
	margin-left: 1rem;
}


#comments-gitment{
	.gitment-container, .gitment-comment-body {
		color: inherit;
	}
}

h1, h2, h3, h4, h5, h6 {
	code {
		font-size: inherit;
	}
}



.notices {
	@mixin theme($child) {
		@at-root #{selector-replace(&, ".notices", ".notices.#{$child}")} {
			@content;
		}
	}

	.highlight {
		.chroma {
			@include theme("info") {
				background: #cce6f7;
			}
			@include theme("success") {
				background: #d3f0cf;
			}
		}
	}
}
// #endregion



// #region Vars related
.var > code {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	cursor: pointer;
	padding: 0!important;
	@at-root .chroma & {
		color: inherit;
	}
}
// #endregion