// #region Fixes
.list__main {
	max-width: 100%;
}

li{
	margin-left: 1rem;
}


#comments-gitment{
	.gitment-container, .gitment-comment-body {
		color: inherit;
	}
}

h1, h2, h3, h4, h5, h6 {
	code {
		font-size: inherit;
	}
}
// #endregion



// #region Vars related
.var > code {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	cursor: pointer;
	padding: 0!important;
	@at-root .chroma & {
		color: inherit;
	}
}

#vars-container {
	.toc {
		margin-left: -1rem;
	}

	.vars-category {
		margin-left: 1rem;
	}
	// .vars-category-label {
	// 	margin-bottom: 0.2rem;
	// 	display: block;
	// }

	.var-input {
		display: block;
		width: 100%;
		padding: 0;
		background-color: rgba(255,255,255,.1);
		appearance: none;
		border: none;
		padding: .25rem .5rem ;
		color: inherit;
		border-radius: 0.3rem;
		margin-bottom: 0.2rem;
	}
}
// #endregion