.table-wrapper table {
  width: 100%;
}

@media (max-width: 700px) {
  table.headRowCol {
    box-shadow: none !important;
    thead {
      display: none;
    }
    tr {
      display: block;
    }
    td, th {
      display: block;
      border: none !important;
      padding: 0 !important;
    }
    td {
      &::before {
        content: attr(aria-label) ":";
        display: inline-block;
        margin: 0 0.25rem 0 1rem;
        font-weight: bold;
      }
    }
  }
}
