{{ $href := . }}
{{ with try (
    resources.GetRemote
        $href
        (dict
            "headers" (dict
                "User-Agent" (slice "gerkindev.github.io meta fetcher")
            )
        )
) }}
    {{ with .Err }}
        {{- warnf "Failed to fetch %s: %s" $href . }}
    {{ else with .Value }}
        {{- with index (findRE "(?:<title[^>]*>)(.*?)</title>" .Content 1) 0 }}
            {{- (replaceRE "<title[^>]*>(.*)</title>" "$1" .) | safeHTML }}
        {{- else }}
            {{- warnf "%s don't have a <title> tag" $href }}
        {{- end }}
    {{- else }}
        {{- warnf "Failed to fetch %s" $href }}
    {{- end }}
{{- end }}
