{{- $href := .Destination | safeURL }}
{{- $scratch := newScratch }}

{{- $type := "" }}
{{- $label := .Title }}
{{- $canFetch := true }}

{{- if or (eq $href "!-- TODO --") (eq $href "") -}}
	<a title="TODO">
		{{- partial "link/prefix-icon" "todo" -}}&nbsp;
		{{- .Text | safeHTML -}}
	</a>
{{- else -}}
	{{- $isExternal := and (strings.HasPrefix $href "http") (not (strings.HasPrefix $href site.BaseURL)) }}
	{{- if in $href "{{" -}}
		{{- $type = "external" }}
		{{- $label = "See on parametric domain" }}
		{{- $canFetch = false }}
	{{- else if $isExternal -}}
		{{- $parsedUrl := urls.Parse $href }}
		{{- $path := lower $parsedUrl.Path }}
		{{- if in $parsedUrl.Host "wikipedia.org" }}
			{{- $type = "wikipedia" }}
			{{- $label = "See on wikipedia" }}
		{{- else if in $parsedUrl.Host "microsoft.com" }}
			{{- $type = "microsoft" }}
			{{- $label = cond (hasPrefix $parsedUrl.Host "docs.") "See on Microsoft docs" "See on Microsoft" }}
		{{- else if or (in $path "/docs/") (in $path "/doc/")  (in $path "documentation") }}
			{{- $label = (printf "See in the docs of %s" $parsedUrl.Host) }}
			{{- $type = "docs" }}
		{{- else if in $parsedUrl.Host "github.com" }}
			{{- if or (in $path "/issue/") (in $path "/issues/") }}
				{{- $type = "github-issue" }}
				{{- $label = "See the GitHub issue/PR" }}
			{{- else }}
				{{- $type = "github" }}
				{{- $label = "See on GitHub" }}
			{{- end }}
		{{- else if in $parsedUrl.Host "stackoverflow.com" }}
			{{- $type = "stackoverflow" }}
		{{- else if or (in $parsedUrl.Host "serverfault.com") (in $parsedUrl.Host "stackexchange.com") }}
			{{- $type = "stackexchange" }}
		{{- else if $isExternal }}
			{{- $type = "external" }}
		{{- end }}
		{{- $label = $label | default (printf "See on %s" $parsedUrl.Host) }}
	{{- end }}


	{{- if not $type }}
		{{- $canFetch = false }}
		{{- if and
			(gt (len $href) 2)
			($href | hasPrefix "./")
			(not (strings.HasSuffix $href "/"))
		}}
			{{- $type = "internal-resource" }}
			{{- $label = "See the resource" }}
		{{- else if hasPrefix $href "#" }}
			{{- $type = "anchor" }}
			{{- $label = "Go to section" }}
		{{- else }}
			{{- $type = "internal" }}
			{{- $label = cond (ne $label "")
				(printf "See `%s` on this blog" $label)
				"See on this blog" }}
		{{- end }}
	{{- end }}
	
	{{- $targetBlank := cond (ne .Blank nil)
		.Blank
		(cond (eq ($type) "internal-resource")
			true
			$isExternal) }}
	
	{{ $body := .Text }}
	{{ if and $canFetch (eq .Text .Destination)}}
		{{- $body = (printf "<i>%s</i>" (partial "link/fetch-title" $href)) }}
	{{ end }}
	<a
		href="{{- $href }}"
		{{- if $label }} title="{{- $label }}"{{- end }}
		{{- if $targetBlank }} target="_blank" rel="noopener noreferrer"{{- end }}>
		{{- partial "link/prefix-icon" (.Type | default $type) -}}&nbsp;
		{{- $body | safeHTML -}}
	</a>
{{- end -}}