{{- if eq . "wikipedia" -}}
    <i class="fab fa-wikipedia-w"></i>
{{- else if eq . "docs" -}}
    <i class="fas fa-book-open"></i>
{{- else if eq . "github-issue" -}}
    <i class="fas fa-bug"></i>
{{- else if eq . "github" -}}
    <i class="fab fa-github"></i>
{{- else if eq . "stackoverflow" -}}
    <i class="fab fa-stack-overflow"></i>
{{- else if eq . "stackexchange" -}}
    <i class="fab fa-stack-exchange"></i>
{{- else if eq . "external" -}}
    <i class="fas fa-external-link-alt"></i>
{{- else if eq . "todo" -}}
    <i class="fas fa-tools"></i>
{{- else if eq . "internal" -}}
    <i class="fas fa-link"></i>
{{- else if eq . "internal-resource" -}}
    <i class="fas fa-clipboard-list"></i>
{{- else if eq . "anchor" -}}
    <i class="fas fa-anchor"></i>
{{- else -}}
    {{ errorf "Incorrect type %q" . }}
{{- end -}}